/*@import url("https://unpkg.com/antd@4.6.5/dist/antd.dark.css")
(prefers-color-scheme: light);*/
/*
@import url("https://unpkg.com/antd@4.6.5/dist/antd.css")
(prefers-color-scheme: light);*/

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #0366d6;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.ant-descriptions-item-label {
  white-space: nowrap;
}
