#home {
  min-height: 100vh;
}
#home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  height: 50px;
}
#home-header > * {
  line-height: 36px;
  margin: 0 15px;
}

#home-header-text {
  color: white;
  flex: 0 0 auto;
}
#home-header-navi {
  flex: 1 1 auto;
  overflow: hidden;
}
#home-content {
  padding: 20px 30px;
  flex: 1 0 auto;
}
