.order-card {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
}

.order-desc {
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.5em;
}

.order-hr {
  margin: 12px 0;
}

.order-btn-container > * {
  margin: 0.4em 0.6em;
}

.order-status-icon {
  font-size: 1.25em;
}

.order-private-bottom {
  margin-left: 0.6em;
}

.order-private-bottom:hover {
  cursor: pointer;
}
